{% extends "base.html" %}


{% block add_static %}
<link rel="stylesheet" href="{{static}}blog/css/home.css">
<link rel="stylesheet" href="{{static}}blog/css/fonts.css">
<script src="{{static}}blog/js/home.js"></script>


{% endblock %}


{% block title %}
博客主页
{% endblock %}


{% block content %}
<div id='head'>

{# <p>在路上</p> #}
    
</div>
<div id='nav'>
<div class="nav_wel">{{welcome}}</div>
    <div class = 'nav_box'>
        <div>
             <ul>
                <li><a href="">首页</a></li>
                <li class="nav_js"><span>技术</span>
                    <ul class="nav_child" id="btn_list">
                        <li><span>python</span></li>
                        <li><span>django</span></li>
                        <li><span>html</span></li>
                        <li><span>linux</span></li>
                         <li><span>其他</span></li>

                    </ul>
                </li>
                <li><span id="essay">随笔</span></li>
                <li><span><a href="/blog/about/">关于</a></span></li>
            </ul>
        </div>

         <div>
            <input type="text" id="search_data"><span id="search"> 搜索</span>
       </div>
       

        <div>

             <span >{{nav_right|safe}}</span>

            <span >{{nav_left|safe}}</span> 

        </div>


    </div>    
</div>

<div id = "content">
    <div class = "title_list" id="change_box">
    {{html|safe}}
    </div>

    
</div>

<div class="page">
        <div>
            <span>共</span><span id="pagecount">{{pagecount}}</span><span>页</span>
        </div>
        <div>
            <span class="icon-previous2 cursor" id="btn_prev"></span><span id="pagenum">{{pagenum}}</span><span class="icon-next2 cursor" id="btn_next"></span>
        </div>

        <div>
            <span class="icon-checkmark cursor" id="btn_jump"></span><input type="text" id="page_jump"><span>页</span>
        </div>
        
        
</div>
{% endblock %}