{% extends "base.html" %}


{% block add_static %}
<link rel="stylesheet" href="{{static}}blog/css/home.css">
<link rel="stylesheet" href="{{static}}blog/css/fonts.css">
<script src="{{static}}blog/js/home.js"></script>


{% endblock %}


{% block title %}
博客主页
{% endblock %}


{% block content %}
<div id='head'>

{# <p>在路上</p> #}
    
</div>
<div id='nav'>
<div class="nav_wel">{{welcome}}</div>
    <div class = 'nav_box'>
        <div>
             <ul>
                <li><a href="">首页</a></li>
                <li class="nav_js"><span>技术</span>
                    <ul class="nav_child">
                        <li><span>python</span></li>
                        <li><span>django</span></li>
                        <li><span>html</span></li>
                        <li><span>linux</span></li>
                         <li><span>其他</span></li>

                    </ul>
                </li>
                <li><span>随笔</span></li>
                <li><span>关于</span></li>
            </ul>
        </div>

        <div>
            <input type="text"><span>搜索</span>
        </div>
       

        <div>


             <span >{{nav_right|safe}}</span>
             {# <a href="../log_in">登陆</a> #}
            

            <span >{{nav_left|safe}}</span> 
            {# <a href="../log_up">注册</a> #}
            
            {# <span>登出</span> #}
            {# <span>新建</span> #}
            

            
        </div>


    </div>    
</div>

<div id = "content">
    <div class = "title_list">
    {{html|safe}}
    </div>

    
</div>

<div class="page">
        <div>
            <span>共</span><span>100</span><span>页</span>
        </div>
        <div>
            <span class="icon-previous2 cursor"></span><span>0</span><span class="icon-next2 cursor"></span>
        </div>

        <div>
            <span class="icon-checkmark cursor"></span><input type="text"><span>页</span>
        </div>
        
        
</div>
{% endblock %}